# Perky Penguins - Climate Change Data Scraping and Cleaning

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from webdriver_manager.chrome import ChromeDriverManager
import pathlib

In [2]:
!pip install pytrends

Requirement already satisfied: pytrends in c:\users\grace\anaconda3\lib\site-packages (4.7.3)
Requirement already satisfied: pandas>=0.25 in c:\users\grace\anaconda3\lib\site-packages (from pytrends) (1.2.0)
Requirement already satisfied: lxml in c:\users\grace\anaconda3\lib\site-packages (from pytrends) (4.6.1)
Requirement already satisfied: requests in c:\users\grace\anaconda3\lib\site-packages (from pytrends) (2.24.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\grace\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\grace\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2020.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\grace\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (1.19.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\grace\anaconda3\lib\site-packages (from requests->pytrends) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\grace\anaconda3\lib\site-packages (from requests->pytrends) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\grace\anaconda3\lib\site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\grace\anaconda3\lib\site-packages (from requests->pytrends) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\users\grace\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)

In [3]:
from pytrends.request import TrendReq
pytrend = TrendReq()

### Import and clean CO2 Emission & Population data from The World Bank. The result will be used for visualization.

In [4]:
# Name the CO2 Emission CSV file
CO2_emission_file = pathlib.Path('CO2_emissions_per_capita.csv')

# Read and display the CO2 Emission CSV with Pandas
CO2_emission_df = pd.read_csv(CO2_emission_file)

In [5]:
CO2_emission_df_2 = CO2_emission_df[['Country Name','Country Code', 'Indicator Name', '2006', '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']]
CO2_emission_df_2

,Country Name,Country Code,Indicator Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,CO2 emissions (metric tons per capita),26.947726,27.895023,26.229553,25.915322,24.670529,24.507516,13.157722,8.353561,8.410064,8.610374,8.426911
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),0.062428,0.083893,0.151721,0.238399,0.289988,0.406424,0.345149,0.280455,0.253728,0.262556,0.245101
2,Angola,AGO,CO2 emissions (metric tons per capita),1.105019,1.203134,1.185000,1.234425,1.244092,1.262825,1.361181,1.295075,1.664741,1.240245,1.202861
3,Albania,ALB,CO2 emissions (metric tons per capita),1.302576,1.322335,1.484311,1.495600,1.578574,1.803715,1.697966,1.697279,1.900070,1.602648,1.577163
4,Andorra,AND,CO2 emissions (metric tons per capita),6.746052,6.519387,6.427810,6.121580,6.122595,5.867410,5.916884,5.901775,5.832906,5.969786,6.072370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,CO2 emissions (metric tons per capita),NaN,NaN,4.266386,4.650695,4.745656,4.672303,4.395272,4.441262,4.005283,4.702186,5.031520
260,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),1.030386,0.985390,1.020428,1.090990,1.011975,0.865783,0.764021,1.013754,0.955251,0.497091,0.390480
261,South Africa,ZAF,CO2 emissions (metric tons per capita),9.236950,9.498786,9.979458,9.967159,9.173055,9.179457,8.794997,8.553336,8.882322,8.376655,8.480658
262,Zambia,ZMB,CO2 emissions (metric tons per capita),0.188267,0.154271,0.168958,0.189800,0.197823,0.208412,0.254267,0.265078,0.292412,0.285428,0.314183
263,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),0.859470,0.806649,0.627678,0.447289,0.614549,0.746236,0.600303,0.881705,0.891739,0.891624,0.782777

In [6]:
# Name the population CSV file
population_file = pathlib.Path('population_total_by_country.csv')

# Read and display the population CSV with Pandas
population_df = pd.read_csv(population_file)

In [7]:
population_df_2 = population_df[['Country Name', 'Country Code', 'Indicator Name', '2006', '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']]
population_df_2

,Country Name,Country Code,Indicator Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Population, total",100834.0,101222.0,101358.0,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0
1,Afghanistan,AFG,"Population, total",26433049.0,27100536.0,27722276.0,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0
2,Angola,AGO,"Population, total",20149901.0,20905363.0,21695634.0,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0
3,Albania,ALB,"Population, total",2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,"Population, total",80993.0,82684.0,83862.0,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",1719536.0,1733404.0,1747383.0,1761474.0,1775680.0,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0
260,"Yemen, Rep.",YEM,"Population, total",20687646.0,21282515.0,21892146.0,22516460.0,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0
261,South Africa,ZAF,"Population, total",48489459.0,49119759.0,49779471.0,50477011.0,51216964.0,52004172.0,52834005.0,53689236.0,54545991.0,55386367.0,56203654.0
262,Zambia,ZMB,"Population, total",12173514.0,12502958.0,12848530.0,13215139.0,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0
263,Zimbabwe,ZWE,"Population, total",12155491.0,12255922.0,12379549.0,12526968.0,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0

In [8]:
# Merge the above data frames to a single data frame
merged_df = pd.concat([CO2_emission_df_2, population_df_2], keys=['CO2_emission', 'population'])
#           names=['Country Name', 'Row ID'])
merged_df

                  Country Name Country Code  \
CO2_emission 0           Aruba          ABW
             1     Afghanistan          AFG
             2          Angola          AGO
             3         Albania          ALB
             4         Andorra          AND
...                        ...          ...
population   259        Kosovo          XKX
             260   Yemen, Rep.          YEM
             261  South Africa          ZAF
             262        Zambia          ZMB
             263      Zimbabwe          ZWE

                                          Indicator Name          2006  \
CO2_emission 0    CO2 emissions (metric tons per capita)  2.694773e+01
             1    CO2 emissions (metric tons per capita)  6.242753e-02
             2    CO2 emissions (metric tons per capita)  1.105019e+00
             3    CO2 emissions (metric tons per capita)  1.302576e+00
             4    CO2 emissions (metric tons per capita)  6.746052e+00
...                                                  ...           ...
population   259                       Population, total  1.719536e+06
             260                       Population, total  2.068765e+07
             261                       Population, total  4.848946e+07
             262                       Population, total  1.217351e+07
             263                       Population, total  1.215549e+07

                          2007          2008          2009          2010  \
CO2_emission 0    2.789502e+01  2.622955e+01  2.591532e+01  2.467053e+01
             1    8.389281e-02  1.517209e-01  2.383985e-01  2.899876e-01
             2    1.203134e+00  1.185000e+00  1.234425e+00  1.244092e+00
             3    1.322335e+00  1.484311e+00  1.495600e+00  1.578574e+00
             4    6.519387e+00  6.427810e+00  6.121580e+00  6.122595e+00
...                        ...           ...           ...           ...
population   259  1.733404e+06  1.747383e+06  1.761474e+06  1.775680e+06
             260  2.128252e+07  2.189215e+07  2.251646e+07  2.315486e+07
             261  4.911976e+07  4.977947e+07  5.047701e+07  5.121696e+07
             262  1.250296e+07  1.284853e+07  1.321514e+07  1.360598e+07
             263  1.225592e+07  1.237955e+07  1.252697e+07  1.269772e+07

                          2011          2012          2013          2014  \
CO2_emission 0    2.450752e+01  1.315772e+01  8.353561e+00  8.410064e+00
             1    4.064242e-01  3.451488e-01  2.804546e-01  2.537279e-01
             2    1.262825e+00  1.361181e+00  1.295075e+00  1.664741e+00
             3    1.803715e+00  1.697966e+00  1.697279e+00  1.900070e+00
             4    5.867410e+00  5.916884e+00  5.901775e+00  5.832906e+00
...                        ...           ...           ...           ...
population   259  1.791000e+06  1.807106e+06  1.818117e+06  1.812771e+06
             260  2.380759e+07  2.447318e+07  2.514711e+07  2.582348e+07
             261  5.200417e+07  5.283400e+07  5.368924e+07  5.454599e+07
             262  1.402319e+07  1.446512e+07  1.492650e+07  1.539975e+07
             263  1.289432e+07  1.311513e+07  1.335036e+07  1.358668e+07

                          2015          2016
CO2_emission 0    8.610374e+00  8.426911e+00
             1    2.625557e-01  2.451014e-01
             2    1.240245e+00  1.202861e+00
             3    1.602648e+00  1.577163e+00
             4    5.969786e+00  6.072370e+00
...                        ...           ...
population   259  1.788196e+06  1.777557e+06
             260  2.649789e+07  2.716821e+07
             261  5.538637e+07  5.620365e+07
             262  1.587936e+07  1.636351e+07
             263  1.381463e+07  1.403039e+07

[528 rows x 14 columns]

In [9]:
merged_df.to_csv('output.csv')

In [10]:
# merged_table = merged_df.to_html().replace('\n','')
# merged_table

In [76]:
# Create a data frame to show the TOTAL carbon emission per country

# Drop string columns in the data frames
CO2_emission_df_value = CO2_emission_df_2.drop(columns=['Country Name', 'Country Code', 'Indicator Name'])
CO2_emission_df_value

population_df_value = population_df_2.drop(columns=['Country Name', 'Country Code', 'Indicator Name'])
population_df_value

# Multiply the data frames
total_emission_value = CO2_emission_df_value * population_df_value.values
total_emission_value

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,2.717247e+06,2.823590e+06,2.658575e+06,2.629239e+06,2.508228e+06,2.500894e+06,1.349456e+06,8.617450e+05,8.727460e+05,8.984150e+05,8.837470e+05
1,1.650150e+06,2.273540e+06,4.206049e+06,6.769282e+06,8.463436e+06,1.224045e+07,1.075531e+07,9.050156e+06,8.467103e+06,9.035488e+06,8.672455e+06
2,2.226602e+07,2.515195e+07,2.570934e+07,2.779219e+07,2.905731e+07,3.058645e+07,3.417644e+07,3.369240e+07,4.485108e+07,3.458348e+07,3.469349e+07
3,3.898021e+06,3.927357e+06,4.374731e+06,4.378398e+06,4.598418e+06,5.240143e+06,4.924781e+06,4.913780e+06,5.489499e+06,4.616753e+06,4.536079e+06
4,5.463830e+05,5.390490e+05,5.390490e+05,5.170470e+05,5.170470e+05,4.913780e+05,4.877110e+05,4.767100e+05,4.620420e+05,4.657090e+05,4.693760e+05
...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,NaN,7.455011e+06,8.192078e+06,8.426766e+06,8.368094e+06,7.942722e+06,8.074734e+06,7.260660e+06,8.408431e+06,8.943813e+06
260,2.131627e+07,2.097157e+07,2.233936e+07,2.456523e+07,2.343213e+07,2.061221e+07,1.869803e+07,2.549298e+07,2.466791e+07,1.317186e+07,1.060863e+07
261,4.478947e+08,4.665781e+08,4.967722e+08,5.031124e+08,4.698160e+08,4.773701e+08,4.646749e+08,4.592221e+08,4.844950e+08,4.639525e+08,4.766440e+08
262,2.291875e+06,1.928842e+06,2.170864e+06,2.508228e+06,2.691578e+06,2.922599e+06,3.678001e+06,3.956693e+06,4.503076e+06,4.532412e+06,5.141134e+06
263,1.044728e+07,9.886232e+06,7.770373e+06,5.603176e+06,7.803376e+06,9.622208e+06,7.873049e+06,1.177107e+07,1.211577e+07,1.231745e+07,1.098266e+07

In [79]:
# Save the total emission dataframe to a CSV
country_names = CO2_emission_df_2[['Country Name', 'Country Code']]
total_emission_df = country_names.join(total_emission_value)

total_emission_df.to_csv('total_emission_by_country.csv',index=False)

### Find Goolge Trends for Keywords searches ("Sustainability", "Environment", "Climate Change" and "Clean Energy") by regions. The result will be used for visualization.

In [11]:
# Find the interest by region for the defined keywords
kw_list = ["Sustainability", "Environment", "Climate Change", "Clean Energy"] 
pytrend.build_payload(kw_list, timeframe='2000-01-01 2017-01-01')
# Interest by Region
interest_by_region = pytrend.interest_by_region()
interest_by_region

                Sustainability  Environment  Climate Change  Clean Energy
geoName
Afghanistan                  0            0               0             0
Albania                      0            0               0             0
Algeria                      0            0               0             0
American Samoa               0            0               0             0
Andorra                      0            0               0             0
...                        ...          ...             ...           ...
Western Sahara               0            0               0             0
Yemen                        0            0               0             0
Zambia                       0            0               0             0
Zimbabwe                     7           71              22             0
Åland Islands                0            0               0             0

[250 rows x 4 columns]

### Find the popularities of keywords search ("Sustainability", "Environment", "Climate Change" and "Clean Energy") over time. The results will be used for visualization.

In [12]:
# Save the interest_by_region data frame to a CSV file
interest_by_region.to_csv('pytrend_keywords_by_country.csv')

In [21]:
# Find keyword rankings from U.S. trend
kw_list = ["Sustainability", "Environment", "Climate Change", "Clean Energy"] 
pytrend.build_payload(kw_list, timeframe='2000-01-01 2017-01-01',geo='US')

# Find the search volume of each keyword over time, and save the result in a data frame
search_trend_US = pytrend.interest_over_time()
search_trend_US

,Sustainability,Environment,Climate Change,Clean Energy,isPartial
date,,,,,
2004-01-01,5,90,3,1,False
2004-02-01,4,92,8,2,False
2004-03-01,4,100,4,1,False
2004-04-01,7,99,5,2,False
2004-05-01,6,87,5,0,False
...,...,...,...,...,...
2016-09-01,9,56,14,2,False
2016-10-01,9,51,18,2,False
2016-11-01,9,51,30,2,False
2016-12-01,8,42,22,2,False
2017-01-01,8,49,25,3,False

In [56]:
search_trend_US_df = search_trend_US.groupby(search_trend_US.index.map(lambda x: x.year)).sum()
search_trend_US_df_2 = search_trend_US_df[['Sustainability','Environment','Climate Change','Clean Energy']]
search_trend_US_df_2

      Sustainability  Environment  Climate Change  Clean Energy
date
2004              51         1035              55            16
2005              60          877              52            17
2006              60          714              65            22
2007              80          714             125            27
2008             104          729             127            36
2009             121          707             165            46
2010             123          665             119            39
2011             116          578              99            32
2012             110          547             100            29
2013             102          549             109            25
2014             107          562             153            24
2015             102          592             189            24
2016              97          558             199            25
2017               8           49              25             3

In [61]:
# Save to a CSV
search_trend_US_df_2.to_csv('keyword_search_volume_US.csv')

In [57]:
# # Calculate the average for each column in the data frame
# avg_popularity = []
# for item in kw_list:
#     avg_popularity.append(search_trend_US[item].mean())

# avg_popularity

In [58]:
# # Store avg info in a dictionary
# avg_popularity_dict = {
#     'Sustainability': avg_popularity[0],
#     'Environment': avg_popularity[1],
#     'Climate Change': avg_popularity[2],
#     'Clean Energy': avg_popularity[3]
# }

# # Convert the dictionary to a data frame
# avg_popularity_US = pd.DataFrame(data=avg_popularity_dict, index=[0])
# avg_popularity_US

### Find Google query trends for "Sustainability", "Environment", "Climate Change" and "Clean Energy". The result will be converted to HTML table strings for final web applications.

In [91]:
pytrend.build_payload(kw_list = ["Sustainability", "Environment", "Climate Change", "Clean Energy"] )
# Related Queries, returns a dictionary of dataframes
related_queries = pytrend.related_queries()
# related_queries.values()
print(related_queries)

{'Sustainability': {'top':                            query  value
0                    sustainable    100
1                  environmental     92
2   environmental sustainability     92
3          sustainability report     75
4         what is sustainability     75
5      sustainability definition     58
6        business sustainability     48
7     sustainability development     42
8      sustainability management     42
9          social sustainability     40
10    environment sustainability     39
11        sustainability meaning     39
12                   environment     38
13           sustainability jobs     36
14         energy sustainability     33
15         google sustainability     29
16         global sustainability     29
17      corporate sustainability     28
18          water sustainability     25
19           food sustainability     25
20       sustainable development     23
21       economic sustainability     21
22  definition of sustainability     20
23        sustainability science     20
24      what does sustainability     19, 'rising':                                                 query  value
0                      sustainability week pokemon go   7150
1                                  abg sustainability   3450
2                          zayed sustainability prize   3050
3                         sustainability week rewards   2300
4                     sustainability meaning in tamil   1600
5   why is the issue of sustainability important f...   1500
6                             un sustainability goals   1450
7                   morningstar sustainability rating   1300
8             sustainability and transformation plans   1000
9                                       gri standards    750
10                   un sustainable development goals    650
11                       sustainability report adalah    600
12                            sustainability pavilion    500
13                                 esg sustainability    500
14  using the internet, identify firms with strong...    500
15                             sustainability перевод    450
16                                                esg    400
17                                sustainability mdpi    400
18                    sustainability meaning in hindi    400
19                          sustainability in fashion    300
20                               levis sustainability    300
21                      sustainable development goals    300
22                       goldman sachs sustainability    300
23                             fashion sustainability    250
24                         ikea sustainability report    200}, 'Environment': {'top':                          query  value
0              the environment    100
1           environment canada     53
2          what is environment     26
3        environment variables     13
4              environment day     12
5   weather environment canada     12
6             work environment     11
7         business environment     10
8          environment meaning      9
9       environment definition      8
10                        java      8
11            java environment      8
12             our environment      7
13         natural environment      6
14       environment pollution      6
15                   pollution      6
16       world environment day      6
17            save environment      6
18        learning environment      5
19          social environment      5
20          environment agency      5
21                java runtime      5
22    java runtime environment      5
23         working environment      4
24   definition of environment      4, 'rising':                                      query  value
0               world environment day 2019  12450
1         save fuel for better environment  10000
2         world environment day theme 2020   9650
3               world environment day 2018   6150
4         world environment day 2019 theme   6100
5               world environment day 2017   4850
6         world environment day 2018 theme   4050
7                 conda remove environment   3100
8             gitlab environment variables   2000
9               docker compose environment   1600
10        docker run environment variables   1050
11                 shankar ias environment   1000
12              python virtual environment    850
13            environment meaning in hindi    550
14  world environment day is celebrated on    400
15   environment and climate change canada    400
16              world environment day 2016    350
17                  environment day poster    350
18                  toxic work environment    250
19                     environment drawing    250
20            world environment day quotes    250
21                     environment meaning    190
22                save environment drawing    180
23                     environment synonym    180
24             save the environment poster    170}, 'Climate Change': {'top':                                 query  value
0                   climate change is    100
1                     what is climate     56
2              what is climate change     54
3               global climate change     49
4                      global warming     30
5                about climate change     27
6              climate change effects     24
7               climate change impact     21
8           climate change definition     19
9           effects of climate change     18
10              climate change causes     18
11                        environment     17
12               trump climate change     15
13           impact of climate change     14
14                climate change news     14
15           causes of climate change     13
16                              earth     13
17           effect of climate change     12
18             climate change meaning     11
19  global warming and climate change     11
20               climate change facts     10
21             climate change impacts     10
22          climate change adaptation      9
23              climate change report      9
24                climate change 2019      8, 'rising':                                                 query  value
0                                greta climate change  60950
1                                      greta thunberg  45600
2                                 climate change 2019  21850
3                          climate change report 2018  12400
4                                    before the flood   8500
5                         scott pruitt climate change   5150
6              leonardo dicaprio climate change movie   4000
7        climate change is the greatest threat debate   3750
8                                       google slides   3700
9                                biden climate change   3250
10                       climate change is real shirt   3150
11                             climate change walkout   2600
12                     climate change conference 2019   2350
13                             pitbull climate change   1300
14                              climate change strike   1300
15                           trump and climate change   1200
16  climate change is evidenced by which of the fo...   1150
17                               trump climate change    950
18                  paris agreement on climate change    850
19                       climate change the facts bbc    850
20                            paris climate agreement    750
21                     paris agreement climate change    650
22                            trump on climate change    500
23                   climate change performance index    450
24                   climate change march 2019 dublin    450}, 'Clean Energy': {'top':                               query  value
0               global clean energy    100
1                  etf clean energy     85
2                  renewable energy     64
3            clean renewable energy     63
4              ishares clean energy     59
5              what is clean energy     56
6                clean energy stock     53
7       ishares global clean energy     49
8           global clean energy etf     47
9                clean energy aktie     45
10                     green energy     42
11               clean green energy     42
12               clean energy fuels     36
13         clean energy etf ishares     35
14              clean energy stocks     33
15                clean power aktie     29
16  ishares global clean energy etf     29
17             clean energy council     27
18             clean nuclear energy     25
19                 clean energy act     25
20                   nuclear energy     24
21          clean energy technology     24
22        clean power capital aktie     23
23           clean energy companies     23
24                clean coal energy     22, 'rising':                                       query   value
0                         clean power aktie  245550
1                 clean power capital aktie  190550
2                 global clean energy aktie  120300
3                                plug power  115400
4                          plug power aktie  102300
5                             nel asa aktie   99150
6                     fuelcell energy aktie   66350
7                       ballard power aktie   59100
8                          afc energy aktie   56300
9                           itm power aktie   52050
10                     siemens energy aktie   50400
11              silicon valley clean energy   45100
12                   peninsula clean energy   40800
13                           biontech aktie   38450
14                      ishare clean energy   33700
15                                byd aktie   31450
16  one step towards green and clean energy   30850
17                                tui aktie   30100
18               ishare global clean energy   29800
19                            curevac aktie   29700
20                     inspire clean energy   27600
21                       scout clean energy   21700
22             affordable clean energy rule   20450
23                                      dax   18750
24                              tesla aktie   18650}}

In [95]:
# # build list of keywords
# kw_list = ["Sustainability", "Environment", "Climate Change", "Clean Energy"] 
# # build the payload
# pytrend.build_payload(kw_list, timeframe='2000-01-01 2017-01-01')
# interest_over_time = pytrend.interest_over_time()
# interest_over_time_html = interest_over_time.to_html().replace('\n','')
# # print(interest_over_time_html)